body {
  background-color: rgb(248, 214, 223);
  background-image: url(./pretermcare.png);
  background-repeat: no-repeat;
  background-position: right;
  align-items: left;
}

.container1 {
  max-width: 600px;
  margin: 500px 100px;
  padding: 20px;
  font-family: "Arial", sans-serif;
  background-color: rgba(253, 205, 213, 0.5);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

h1 {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

p {
  font-size: 16px;
  color: #000000;
  line-height: 1.5;
}

input[type="text"] {
  width: calc(100% - 22px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  background-color: #b00b26;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #9e042a;
}

.diagnosis-container {
  margin-top: 20px;
  background-color: #f2afc0;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
}

.diagnosis-container p {
  margin-bottom: 10px;
  font-size: 18px;
  color: #333;
}

.option-container {
  margin-bottom: 15px;
}

.container1 {
  display: flex;
  flex-direction: column;
}

.option-container {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.option-container label {
  margin-right: 10px;
}
